<div class="container-fluid">
    <section  class="space-sm">
        <div class="container tag">         
                
                    Nosotros
                
        </div>
        <div class="row col-12 text-about">
            <p>
                Fundado en 1979, por el Sr. Juan Manuel Taul, es la consecuencia de 40 años de
                intachable desempeño en el mercado inmobiliario del Partido de B. Juárez.
                <br>
                <br>
                Nuestra trayectoria y prestigio en el Partido de B. Juárez sólo son posibles gracias
                a años de trabajo honesto y profesional, trasladando confianza y tranquilidad a la
                hora de realizar operaciones inmobiliarias.
                <br>
                <br>
                En Taul Inmobiliaria buscamos brindar un servicio personalizado y dinámico, con
                el único objetivo de dar una respuesta satisfactoria a la confianza que nuestros
                clientes depositan en nosotros año a año.
            </p>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>