.carousel-inner > .carousel-item > img {
    width:160px;
    height:360px;
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/varias/2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.custom {
    background-color:  #ffad33;
    width: 100%;  
    display: flex;
    justify-content: center;   
}

.carousel{
    width: 50%;
} 

.pricing {    
    right: 0 !important;
}

.tag {
    background-color: rgb(252,183,72);
    float: left;
    width: 200px;
    height: auto;
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-right-radius: 10px;
    display: block;
    /* margin-top: -50px; */
    color: white;
    text-align: center;
}

.principal-features {
    display: flex;
    flex-direction: column;
}

article > h4 {
    margin-bottom: 4.5rem;
    padding-left: 5rem;
}

.principal-features > p {
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
}