.carousel-inner > .carousel-item > img {
    width:160px;
    height:360px;
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/varias/2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.section-custom {
    
    display: flex;
    justify-content: center;   
}

.custom {
    background-color:  #ffc999;
    width: 100%;  
    display: flex;
    justify-content: center;   
}

.carousel{
    width: 50%;
} 

.custom-row{
    width: 80%; 
}

/* .jumbotron{
    display: flex;
    justify-content: center;
} */


/* .jumbotron{
    width: 50%;
} */

.pricing {
    
    right: 0 !important;
}