
    <section class=" d-flex justify-content-center">
            <div class="row col-10">
                <button type="button" class="btn btn-primary" routerLink='/new-property' >Agregar propiedad</button>
            </div>
        
    </section>

  <section class=" d-flex justify-content-center" ngOnChange="showChange()">
  <div class="row col-10">
    <div class="col">
        <table class="table table-borderless table-hover align-items-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Tipo de propiedad</th>
                    <th scope="col">Codigo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                
                    <tr *ngFor="let property of properties" class="bg-white ">
                        <th scope="row">
                            <a class="media align-items-center">
                                <!-- <img alt="Image" src="assets/img/logo-snapchat.svg" class="avatar rounded avatar-sm" /> -->
                                <div class="media-body">
                                    <span class="h6 mb-0">{{ property.nombre }}</span>
                                    <!-- <span class="text-muted">Social Media</span> -->
                                </div>
                            </a>
                        </th>
                        <td>{{ property.descripcion }}</td>
                        <td>{{ property.propiedad }}</td>
                        <td>
                            <!-- <span class="badge badge-success">Active</span> -->
                            {{ property.codigo }}
                        </td>
                     
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-dots-three-horizontal"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" [routerLink]="['/update-prop' , property.id ]" >Ver/Editar</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item delete-button" (click)="deleteCurso(property)" >Borrar</a>
                                </div>
                            </div>
                        </td>                        
                    </tr>  
                                  
                 
                
                

            </tbody>
        </table>
    </div>
    <!--end of col-->
</div>
<!--end of row-->

</section>
<!--end of section-->

