<div *ngIf="properties != null" class="container-fluid" id="init">
    <section id="ventas" class="space-sm ventas">
            <div class="tag">               
                    Ventas              
            </div>
        
        <div class="container">
                
                
            <ul class="row feature-list feature-list-sm">

                <li *ngFor="let property of properties" class="col-12 col-md-6 col-lg-4">
                    <div class="card" *ngIf="property.operacion == 'Venta'" >
                        <a>
                            <img class="card-img-top" src={{property.imagen[0]}} alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ property.nombre }}</h4>
                            <p class="card-text">{{ property.descripcion }}</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">

                            <div class="dropup">
                                <button class="btn btn-sm btn-outline-primary"
                                    type="button" id="SidekickButton" 
                                    aria-expanded="false"  [routerLink]="['/details' , property.id ]" >
                                    <!-- <i class="icon-dots-three-horizontal"></i> -->
                                    <span>Ver mas</span>
                                </button>
                                <!-- <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                    <a class="dropdown-item" [routerLink]="['/details' , property.id ]">Ver mas</a>

                                   
                                </div> -->
                            </div>
                        </div>
                    </div>
                </li>
                <!--end of col-->



            </ul>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->

    <section id="alquileres" class="space-sm flush-with-above alquileres">
            <div class="tag">               
                    Alquileres               
            </div>
        <div class="container">
                
            <ul class="row feature-list feature-list-sm">

                <li *ngFor="let property of properties" class="col-12 col-md-6 col-lg-4"  >
                    <div class="card" *ngIf="property.operacion == 'Alquiler'" >
                        <a>
                            <img class="card-img-top" src={{property.imagen[0]}} alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ property.nombre }}</h4>
                            <p class="card-text">{{ property.descripcion }}</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">

                            <div class="dropup">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                    type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="icon-dots-three-horizontal"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                    <a class="dropdown-item" [routerLink]="['/details' , property.id ]">Ver mas</a>

                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--end of col-->



            </ul>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <!--  Seccion Nosotros  -->
    <!-- <app-about id="nosotros" ></app-about> -->

</div>

<app-waiting *ngIf="properties == null" ></app-waiting>

 