<div class="col-12 card-body bg-secondary">
  <div class="text-center mb-5">
      <h1 class="h2 mb-2">Crear una nueva propiedad</h1>
      <span>No hay campos obligatorios lo que se cargue es lo que se vera en la pagina</span>
  </div>
  <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
          <form>
              <div class="form-row form-group">
                  <div class="col">
                      <input class="form-control form-control-lg" type="text" id="company" placeholder="Nombre" />
                  </div>
              </div>
              <div class="form-row form-group">
                  <div class="col">
                      <input class="form-control form-control-lg" type="text" id="firstname" placeholder="Codigo" />
                  </div>
                  <!-- <div class="col">
                      <input class="form-control form-control-lg" type="text" id="lastname" placeholder="Last Name" />
                  </div> -->
              </div>
              <div class="form-row form-group">
                  <div class="col">
                      <input class="form-control form-control-lg" type="text" id="email" placeholder="Estado" />
                  </div>
              </div>
              <div class="form-row form-group">
                  <div class="col">
                      <input class="form-control form-control-lg" type="text" id="password" placeholder="Descripcion" />            
                  </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Habitaciones" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Baños" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Cocheras" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Localidad" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Operacion" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Tipo de propiedad" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Superficie cubierta" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Superficie total" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Precio" />            
                </div>
              </div>
              <div class="form-row form-group">
                <div class="col">
                    <input class="form-control form-control-lg" type="text" id="password" placeholder="Geolocalizacion" />            
                </div>
              </div>
              
              <div class="form-row form-group">
                  <div class="col">
                      <button class="btn btn-block btn-success btn-lg" type="submit">Crear Propiedad</button>
                  </div>
              </div>
              <!-- <div class="text-center">
                  <span class="text-small text-muted">By clicking 'Create Account' you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a>&nbsp;and <a href="#">Security Policy</a>
                  </span>
              </div> -->
          </form>
      </div>
  </div>
</div>