<div class="nav-container">
  <div class="bg-light" data-sticky="top">
    <div class="container custom-cont-nav">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/">
          <img alt="Wingman" src="/assets/img/taul/loguito-chico.jpg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon-menu h4"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="" routerLink='/' fragment="init" (click)='onAnchorClick()'>Inicio </a>
            </li>
            <li class="nav-item">
              <a class="" routerLink='/' fragment="alquileres" (click)='onAnchorClick()'> Alquileres</a>
            </li>
            <li class="nav-item">
              <a class=" " routerLink='/' fragment="ventas" (click)='onAnchorClick()'>Ventas</a>
            </li>

            <li class="nav-item">
              <a class=" " routerLink='/' (click)='onAlertClick()' >Nosotros</a>
            </li>
            <!--  -->
            <li class="nav-item">
              <a class="" routerLink='/contact'>Contacto</a>
            </li>
            <hr>
          </ul>

            
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class=" " routerLink='/login'>Login</a>
            </li>
            <li class="nav-item">
              <a class=" " routerLink='/private'>Privado</a>
            </li>
            <li class="nav-item">
              <a class=" " routerLink='onLogout()'>Salir</a>
            </li>
            <hr>
          </ul>
          <!-- <div class="underbar"></div> -->
        </div>
        <!--end nav collapse-->
      </nav>
    </div>
    <!--end of container-->
  </div>
</div>